In [30]:
# !pip install mysql-connector-python

In [31]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [32]:
def create_server_connection(host_name,user_name,password):
    connection=None
    try:
        connection=mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=password
        )
        print("Server connection successfull")
    except Error as err:
        print(f"Error:'{err}'")
    return connection

In [33]:
pw="new_password"
connection=create_server_connection("localhost","root",pw)

Server connection successfull

In [34]:
#create mysql python
def create_database(connection,query):
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        print("Database created Successfully")
    except Error as err:
        print(f"Error:'{err}'")

In [35]:
query="create database mysql_python"
create_database(connection,query)

Error:'1007 (HY000): Can't create database 'mysql_python'; database exists'

In [36]:
def create_db_connection(host_name,user_name,password,db_name):
    connection=None
    try:
        connection=mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=password,
            database=db_name
        )
        print("MYSQL Database connection successfull")
    except Error as err:
        print(f"Error:'{err}'")
    return connection

In [37]:
pw="new_password"

connection=create_db_connection("localhost","root",pw,"mysql_python")

MYSQL Database connection successfull

In [38]:
#execute sql queries
def execute_query(connection,query):
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query Successfull")
    except Error as err:
        print(f"Error:'{err}'")

In [ ]:
query=""" create table orders(order_id int primary key,
customer_name varchar(30) not null,
product_name varchar(20) not null,
date_ordered date,
quantity int,
unit_price float,
phone_number varchar(20));"""
execute_query